.design {
    width: 100vw;
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/design/designBackground.png) no-repeat center center;
    background-size: cover;

    &__title {

        &-heading {
            font-family: $fontRaleway;
            font-weight: 400;
            font-size: 36px;
            margin: 50px 0;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: $colorWhite;
        }

        &-info {
            margin: 40px 0;
            color: $colorWhite;
            display: flex;
            justify-content: center;
            font-family: $fontRaleway;
            font-weight: 400;
            font-size: 18px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 70px auto 0;
    }
}