.footer {
    width: 100vw;
    background-color: $colorBlack;

    &__container {
        height: 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0 25px;
    }

    &__list {
        display: flex;
        align-items: center;
    
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin: 0 30px;
        }
    }

    &__descr {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px;
        color: $colorGreyText;
    }
}