$colorCoral: #EC7979;

$colorHoverCoral: #c25353;

$colorActiveCoral: #923939;


$colorGreyText: #86878B;

$colorGreyOnWhite: #BDBDBD;

$colorLightGreyBlockBackground: #E2E2E2;

$colorLightGreyBackground: #F5F5F5;

$colorDarkGreyBackground: #333333;

$colorSocWebBackground: #F8EFEF;

$colorWhite: #FFFFFF;

$colorBlack: #000000;


$fontRaleway: 'Raleway', sans-serif;

$fontOpenSans: 'Open Sans', sans-serif;
